html{
    box-sizing: border-box;
    height: 100%;
}
*, *::before, *::after{
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    font-weight: inherit;
    line-height: inherit;
    font-size: inherit;
}
textarea{
    resize: none;
}
a{
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff;
    outline: none;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    font-family: 'Jura', sans-serif;
    color: #fff;
    background-color: $bg;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 10px;
}
.title{
    font-family: 'MyFont', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.section{
    padding: 60px 0 0;
}
.request-call__btn{
    font-family: 'MyFont', sans-serif;
    font-size: 12px;
    border: 1px solid $element;
    padding: 10px 15px;
    border-radius: 30px;
    transition: all .3s;
    max-width: 180px;
    display: block;
    &:hover{
        background-color: $element;
    }
    &:focus{
        background-color: $element;
    }
}
.social-btn{
    a{
        margin: 10px;
        transition: all .3s;
        &:hover{
            transform: scale(1.1);
        }
        &:focus{
            transform: scale(1.1);
        }
    }
}
.animated-modal {
    max-width: 550px;
    width: 100%;
    border-radius: 6px;
    background-color: rgba($bg, .9);
}
.fancybox-slide--current .animated-modal{
    transform: translateY(0);
    opacity: 1;
}
#animatedModalPrivate{
    max-width: 600px;
    padding: 20px;
    height: 50vh;
}
.private__title{
    font-weight: 700;
    color: #ccc;
}
.private__subtitle{
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #ccc;
}
.private__descr{
    font-weight: 400;
    color: $form;
    line-height: 20px;
}
.private__descr-list{
    margin-left: 30px;
}