@import 'fonts';
@import 'vars';
@import 'global';
//start index
.header{
    background-color: rgba($dark, .9);
    max-width: 100%;
    width: 100%;
    position: fixed;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(58,51,48,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(58,51,48,1) 100%) 0 0 100% 0;
    border-left: none;
    border-right: none;
    border-top: none;
    z-index: 10;
}
.header-inner{
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        outline: none;
    }
    &__menu-btn{
        display: none;
        cursor: pointer;
    }
    &__list{
        li{
            display: inline-block;
            & + li{
                margin-left: 30px;
            }
        }
        a{
            text-transform: uppercase;
            color: rgb(197, 197, 197);
            transition: all .3s;
            outline: none;
            &:hover{
                color: #fff;
            }
            &:focus{
                color: #fff;
            }
        }
    }
    &__phone{
        display: flex;
        align-items: center;
        outline: none;
        img{
            transform: scale(0);
            transition: all .3s;
            outline: none;
            padding-right: 10px;
        }
        a{
            font-family: 'MyFont', sans-serif;
            font-size: 14px;
            outline: none;
            &:focus{
                img{
                    transform: scale(1);
                }
            }
        }
        &:hover{
            img{
                transform: scale(1);
            }
        }
    }
}
.btn-top {
    content: "";
    position: fixed;
    width: 31px;
    height: 38px;
    bottom: 40px;
    right: 40px;
    background-image: url(../images/btn-top.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 30px;
    cursor: pointer;
    z-index: 3;
    opacity: .3;
}
.slider-top-wrapper{
    .slick-arrow{
        position: absolute;
        z-index: 1;
        bottom: 50px;
        min-height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid hsla(0,0%,100%,.2);
        cursor: pointer;
        transition: all .3s;
        outline: none;
        &:hover{
            border: 1px solid #fff;
        }
    }
    .slick-next{
        right: 50px;
    }
    .slick-prev{
        left: 50px;
    }
    .slick-dots{
        position: absolute;
        bottom: 30px;
        right: 0;
        left: 0;
        text-align: center;
        li{
            display: inline-block;
            & + li{
                margin-left: 30px;
            }
            &.slick-active{
                button{
                    background-color: #fff;
                }
            }
        }
        button{
            border-radius: 50%;
            height: 10px;
            width: 10px;
            padding: 0;
            font-size: 0;
            border: none;
            background-color: rgba(#fff, .3);
            box-shadow: 1px 1px 2px 1px rgba(50, 50, 50, 0.4);
            outline: none;
            cursor: pointer;
        }
    }
}
.slider-top-inner{
    position: relative;
}
.slider-top-item{
    display: block;
    min-height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% center;
    &.left{
        background-position: 70% center;
    }
    &__text{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 600px;
        right: 100px;
        &.left{
            right: auto;
            left: 100px;
        }
    }
    &__title{
        font-family: 'MyFont', sans-serif;
        font-weight: 700;
        margin-bottom: 30px;
        font-size: 30px;
    }
    &__descr{
        font-size: 24px;
        margin-bottom: 40px;
        font-weight: 400;
        span{
            color: $element;
            margin: 0 5px;
        }
    }
    &__btn{
            font-family: 'MyFont', sans-serif;
            text-transform: uppercase;
            padding: 10px 15px;
            text-align: center;
            border-radius: 30px;
            border: 1px solid $element;
            transition: all .3s;
            outline: none;
            font-size: 13px;
            font-weight: 700;
            max-width: 170px;
            &:hover{
                background-color: $element;
            }
            &:focus{
                background-color: $element;
            }
    }
}
.work{
    &__inner{
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(90deg, rgba(58,51,48,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(58,51,48,1) 100%) 0 0 100% 0;
        border-left: none;
        border-right: none;
        border-top: none;
        padding-bottom: 40px;
        text-align: center;
    }
    &__row{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
}
.work-item{
    text-align: center;
    margin: 0 5px;
    &__img{
        display: inline-block;
        padding: 20px 15px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-bottom: 10px;
    }
    &__text{
        font-size: 14px;
        font-weight: 400;
        margin: 0 5px;
        span{
            color: $element;
            margin-right: 5px;
        }
    }
}
.work__btn{
    margin: 0 auto;
    margin-top: 10px;
}
.services-inner{
    display: flex;
    margin-left: -15px;
    justify-content: center;
    flex-wrap: wrap;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(58,51,48,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(58,51,48,1) 100%) 0 0 100% 0;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-bottom: 40px;
}
.big-item{
    border-radius: 12px;
    overflow: hidden;
    height: 550px;
    width: 592.5px;
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
    &:hover{
        .big-item__img{
            bottom: 60px;
        }
        .big-item__btn{
            bottom: 0;
        }
    }
    &:focus{
        .big-item__img{
            bottom: 60px;
        }
        .big-item__btn{
            bottom: 0;
        }
    }
    &__img{
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        transition: all .3s;
        background-color: $dark;
    }
    &__text{
        position: absolute;
        top: 50px;
        left: 30px;
        max-width: 400px;
    }
    &__title{
        font-size: 30px;
        font-family: 'MyFont', sans-serif;
        font-weight: 700;
        margin-bottom: 5px;
        margin-left: 10px;
        color: #000;
    }
    &__descr{
        color: #000;
        font-size: 18px;
        border: 1px solid $element;
        border-radius: 25px;
        padding: 5px 7px;
        margin-right: 10px;
    }
    &__btn{
        position: absolute;
        width: 100%;
        height: 60px;
        bottom: -60px;
        background-color: $element;
        transition: all .3s;
        font-family: 'MyFont', sans-serif;
        line-height: 60px;
        padding-left: 30px;
        &::before{
            content: "";
            background-image: url(../images/arrow-right.svg);
            height: 20px;
            width: 20px;
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
        }
    }
}
.small-item{
    width: 288.75px;
    margin-left: 15px;
    padding-bottom: 15px;
    &:hover{
        img{
            transform: scale(1.2);
        }
        .small-item__img::after{
            transform: scale(1);
        }
    }
    &:focus{
        img{
            transform: scale(1.2);
        }
        .small-item__img::after{
            transform: scale(1);
        }
    }
    &__img{
        border-radius: 12px;
        overflow: hidden;
        background-color: $dark;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 20px;
        picture{
            text-align: center;
        }
        img{
            transition: all .3s;
            width: 150px;
        }
        &.origin{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: block;
        }
        &::before{
            content: "";
            background-image: url(../images/arrow-right.svg);
            height: 20px;
            width: 20px;
            position: absolute;
            top: 20px;
            right: 25px;
            z-index: 5;
        }
        &::after{
            content: "";
            height: 40px;
            width: 40px;
            position: absolute;
            border-radius: 50%;
            background-color: $element;
            top: 11px;
            right: 15px;
            transition: all .3s;
            transform: scale(0);
        }
    }
    &__descr{
        margin-left: 15px;
        margin-top: 30px;
        padding: 2px 10px 5px;
        max-width: 210px;
        border: 1px solid $element;
        color: #000;
        border-radius: 25px;
    }
    &__title{
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        font-family: 'MyFont', sans-serif;
    }
}
.stock{
    .big-item__title{
        color: #fff;
    }
    .big-item__descr{
        color: #5c5c5c;
        display: inline-block;
    }
}
.about-inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    &__image{
        margin: 0 auto;
    }
    &__text{
        margin-left: auto;
        max-width: 580px;
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        background-color: $light;
        border-radius: 12px;
        padding: 20px;
    }
    &__img{
        margin: 10px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__title{
        color: $element;
    }
    &__subtitle{
        color: #000;
        margin-bottom: 25px;
        text-align: center;
    }
    &__descr{
        color: #000;
        li{
            margin-bottom: 20px;
        }
        span{
            color: $element;
            margin-right: 5px;
        }
    }
}
.about-partners{
    &__title{
        text-transform: none;
        font-size: 18px;
        font-weight: 700;
    }
    &__inner{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        img{
            padding: 10px;
        }
    }
}
.footer-inner{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(58,51,48,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(58,51,48,1) 100%) 100% 0 0 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.footer-item__info, .footer-item__social, .footer-item__contacts{
    max-width: 300px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 5px;
}
.footer-item{
    &__phone{
        font-size: 13px;
        font-family: 'MyFont', sans-serif;
        margin-bottom: 10px;
        transition: all .3s; 
    }
    &__btn{
        margin: 0 auto;
        margin-bottom: 5px;
    }
}
//end index

//start osago
.product-image{
    &__inner{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 10% bottom;
        width: 100%;
        height: 60vh;
        position: relative;
    }
    &__info{
        position: absolute;
        text-align: center;
        right: 0;
        left: 0;
        bottom: calc(50% - 30px);
        transform: translateY(50%);
    }
    &__title{
        margin: 0 auto 10px;
        max-width: 700px;
        text-transform: none;
        span{
            margin-left: 10px;
            color: $element;
        }
    }
    &__btn{
        padding-left: 45px;
        margin: 0 auto;
        position: relative;
        font-size: 13px;
        box-shadow: inset 0 0 50px rgba(0,0,0,.5);
        &:hover{
            box-shadow: none;
        }
        &::after{
            content: "";
            background-image: url(../images/header/back-btn.svg);
            width: 30px;
            height: 30px;
            position: absolute;
            left: 10px;
            top: 3px;
            transform: scale(.8);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
.product__inner{
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(58,51,48,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(58,51,48,1) 100%) 0 0 100% 0;
    border-top: none;
    border-left: none;
    border-right: none;
}
.product__text{
    background-color: $dark;
    border-radius: 12px;
    padding: 20px;
    color: $form;
    margin-bottom: 20px;
    p{
        font-weight: 500;
        line-height: 24px;
        display: block;
        margin-bottom: 15px;
    }
    span{
        color: $element;
        margin-left: 5px;
    }
}
.to-form__link, a.link{
    margin-left: 5px;
    text-decoration: underline;
    color: #ccc;
    &:focus{
        text-decoration-color: $element;
    }
}
.work-btn{
    margin: 30px auto 0;
}
.product-btn{
    color: #ccc;
    &:hover{
        color: #fff;
    }
    &:focus{
        color: #fff;
    }
}
.form{
    width: 100%;
    background-color: rgba(49,42,40,0.4);
    border-radius: 12px;
    padding: 60px 20px 20px;
    margin-bottom: 40px;
    & *{
        color: $form;
        outline: none;
    }
}
// .form__body{
//     position: relative;
//     &::before{
//         content: "";
//         position: absolute;
//         left: -20px;
//         top: -60px;
//         right: -20px;
//         bottom: -20px;
//         border-radius: 12px;
//         z-index: 3;
//         background: rgba($dark, .8) url(../images/loading-form.gif) center / 50px no-repeat;
//         transition: background .5s;
//         opacity: 0;
//         visibility: hidden;
//     }
//     &.__sending::before{
//         opacity: 1;
//         visibility: visible;
//     }
// }
.form__wrapper{
    display: flex;
    margin-bottom: 10px;
}
.form__item{
    max-width: 383px;
    width: 100%;
    margin-bottom: 10px;
    & + &{
        margin-left: 5px;
    }
}
.fancybox-form{
    & *{
        outline: none;
        color: $form;
    }
    .form__item{
        max-width: 100%;
    }
    .form__item + .form__item{
        margin-left: 0;
    }
}
.form__label{
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    span{
        color: $element;
        margin-right: 5px;
        font-size: 18px;
    }
}
.form__input{
    width: 100%;
    padding: 10px 15px;
    background-color: $dark;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid transparent;
    &:focus{
        border: 1px solid $element;
    }
    &._error{
        border: 1px solid red;
    }
}
.files__item{
    display: flex;
    margin-bottom: 10px;
    position: relative;
    textarea{
        height: 100px;
    }
}
.files__name{
    max-width: 383px;
    width: 100%;
    margin-bottom: 10px;
    span{
        margin-right: 5px;
        color: $element;
        font-size: 18px;
    }
}
.files__buttons{
    display: flex;
    max-width: 383px;
    width: 100%;
    margin-left: 5px;
}
.files__btn{
    position: relative;
    max-width: calc(50% - 5px);
    width: 100%;
    text-align: center;
    overflow: hidden;
    span{
        font-size: 12px;
    }
    & + &{
        margin-left: 10px;
    }
}
.files__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
    &:hover + .files__choose{
        background-color: $element;
    }
    &:focus + .files__choose{
        background-color: $element;
    }
}
.files__choose{
    width: 100%;
    border: 1px solid $element;
    padding: 6px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    transition: all .3s;
}
.checkbox__input{
    opacity: 0;
    width: 0;
    &:checked + .checkbox__label::before{
        background-image: url(../images/checked-img.svg);
        background-size: 65%;
        background-repeat: no-repeat;
        background-position: center;
    }
    &:focus + .checkbox__label::before{
        border: 1px solid $element;
    }
    // &._error .checkbox__label::before{
    //     border: 1px solid red;
    // }
}
.checkbox{
    display: inline-block;
}
.checkbox__label-life{
    margin-right: -4px;
}
.checkbox__label{
    position: relative;
    padding: 0 0 0 20px;
    cursor: pointer;
    display: inline-block;
    &:focus{
        background-color: #fff;
    }
    span{
        color: $element;
        font-size: 18px;
        margin-right: 5px;
    }
    &::before{
        content: "";
        background-color: $dark;
        width: 15px;
        height: 15px;
        border-radius: 2px;
        margin-right: 5px;
        position: absolute;
        left: 0;
        top: 2px;
        border: 1px solid transparent;
    }
}
.form__button{
    max-width: 120px;
    width: 100%;
    font-size: 14px;
    color: #fff;
    border: 1px solid $element;
    border-radius: 15px;
    cursor: pointer;
    background-color: transparent;
    transition: all .3s;
    padding: 6px;
    margin-top: 40px;
    &:hover{
        background-color: $element;
    }
    &:focus{
        background-color: $element;
    }
}
.hint-link{
    margin-left: 7px;
    cursor: pointer;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid transparent;
    &:hover{
        border: 1px solid $element;
    }
    &:focus{
        border: 1px solid $element;
    }
    &__descr{
        background-color: $light;
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        z-index: 3;
        top: 25px;
        left: 50px;
        max-width: 300px;
        width: 100%;
        color: $dark;
        font-weight: 500;
        display: none;
        &::before{
            content: "";
            border-style: solid;
            border-width: 0 7.5px 5px 7.5px;
            border-color: transparent transparent $light transparent;
            position: absolute;
            top: -5px;
            left: 101px;
        }
    }
    &__descr-life{
        z-index: 2;
        &::before{
            left: 135px;
        }
    }
    &__ipoteka{
        left: 169px;
        right: auto;
    }
    &__descr-ipoteka{
        a{
            color: $element;
            text-decoration: underline;
            display: inline;
        }
        &::before{
            left: 121px;
        }
    }
}
.added__driver{
    color: #ccc;
    padding: 0 0 0 25px;
    position: relative;
    &:hover.added__driver::after{
        background-color: $element;
    }
    &:focus.added__driver::after{
        background-color: $element;
    }
    &::before{
        content: "+";
        position: absolute;
        top: -2px;
        left: 5px;
        font-size: 20px;
        z-index: 1;
    }
    &::after{
        content: "";
        position: absolute;
        top: 1px;
        left: 1.5px;
        height: 18px;
        width: 18px;
        border: 1px solid #ccc;
        border-radius: 50%;
        transition: all .3s;
    }
}
.added__man{
    color: #ccc;
    padding: 0 0 0 25px;
    position: relative;
    &:hover.added__man::after{
        background-color: $element;
    }
    &:focus.added__man::after{
        background-color: $element;
    }
    &::before{
        content: "+";
        position: absolute;
        top: -2px;
        left: 5px;
        font-size: 20px;
        z-index: 1;
    }
    &::after{
        content: "";
        position: absolute;
        top: 1px;
        left: 1.5px;
        height: 18px;
        width: 18px;
        border: 1px solid #ccc;
        border-radius: 50%;
        transition: all .3s;
    }
}
.remove__driver{
    margin-left: 10px;
    color: #ccc;
    transition: all .3s;
    font-size: 13px;
    &:hover{
        color: $element;
    }
    &:focus{
        color: $element;
    }
}



@import 'media';